@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}

:root {
    /* COLORS */
    --DARKGREY: rgb(70, 70, 70);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f4f4;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: flex;
    gap: 20px;
}

ion-icon {
    cursor: pointer;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    padding: 8px;
}

.menu .hamburger {
    padding-top: 2.5px;
    height: 2px;
    width: 24px;
    background-color: var(--DARKGREY);
    margin: 2px 0;
}

.right-side {
    gap: 10px;
    padding: 10px;
}

.right-side ion-icon {
    width: 24px;
    height: 24px;
    color: var(--DARKGREY);
    margin: 8px;
    padding: 10px;
    border-radius: 50%;
}

.right-side img {
    margin: 10px;
    object-fit: contain;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 3px;
    height: 42px;
    width: 700px;
    border-radius: 50px;
    background-color: lightgray;
}

.searchbar ion-icon {
    height: 24px;
    width: 24px;
}

.searchbar input {
    border: none;
    outline: none;
    background-color: lightgray;
    padding: 2px;
    font-size: 18px;
    width: 90%;
}

a {
    text-decoration: none;
    color: var(--DARKGREY);
}

.navbar {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 40px;
}

.navtopbar span{
    margin-left: 15px;
    width: 80px;
    height: 50%;
    background-color: lightblue;
    padding: 20px 32px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.navtopbar span ion-icon {
    font-size: 24px;
}

.middlebar ul li {
    color: rgb(32, 33, 36);
    font-size: 20px;
    gap: 4px;
    margin: 4px;
    margin-left: 35px;
    padding: 4px;
    list-style-type: none;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 100%;
    position: relative;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown {
    display: block;
}

.navbarbottom {
    font-size: 24px;
    display: inline-block;
}

.maincontent {
    margin-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #e9ecef;
    overflow: hidden;
}

.content_icon,
.star{
    transition: all 0.3s;
    width: 16px;
    height: 16px;
    color: var(--DARKGREY);
    padding: 8px;
    border-radius: 50%
}

.chev {
    color: #b1b1b1;
}

.maincontent .top {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    color: var(--DARKGREY);
}

.messages:hover {
    cursor: pointer;
    box-shadow: 0px 1px 4px 0.2px rgba(0,0,0,0.2);
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    position: relative;
}

.check img {
    height: 24px;
    cursor: pointer;
}

.check span {
    position: absolute;
    left: 6px;
    top: 6px;
    display: none;
}

.check img:hover + span {
    transition: all 0.3s;
    display: inline;
}

.sort_numbers {
    transition: all 0.3s;
    padding: 8px;
    border-radius: 6px;
}

.maincontent .top .right,
.maincontent .top .left,
.maincontent .messages .messages_left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.messages_area {
    height: 80vh;
    overflow: auto;
}

.messages {
    height: 45px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 0.8px solid #ced4da;
    color: var(--DARKGREY);
}

.check_2 span {
    left: 5px;
}

.messages_left ion-icon:hover {
    color: #000;
}

